# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mac
.DS_Store
 
# Maven
log/
target/
